<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!-- ATTENTION !!  IL FAUT MODIFIER UNIQUEMENT LES VALEURS PRESENTENT DANS VALUE-->
    <!-- CLIENT -->
    <!-- Dossiers contenant les données des applications -->
    <!-- Menu -->
    <add key="cheminLibrairieMenu" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Menu" />
    <!-- Visite Virtuelle -->
    <add key="cheminLibrairieVisitesVirtuelles" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Visites virtuelles" />
    <!-- Expo Virtuelle -->
    <add key="cheminLibrairieExpoVirtuelles" value="C:\Session Grand Public\Données\Ressources\Personnalisation\ExpoVirtuelle" />
    <!-- Memory -->
    <add key="cheminLibrairieMemory" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Memory" />
    <!-- Puzzle -->
    <add key="cheminLibrairiePuzzle" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Puzzle" />
    <!-- Region -->
    <add key="cheminLibrairieRegion" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Region" />
    <!-- Frise Historique -->
    <add key="cheminLibrairieFrise" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Frise_Historique" />
    <!-- Banque d'Images -->
    <add key="cheminLibrairieBanqueImages" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Banque_Images" />
    <!-- FIN Dossier contenant les données des applications -->
    <!-- Configuration des applications -->
    <!-- Menu -->
    <add key="cheminMenu" value="C:/Session Grand Public/Données/menuData.xml" />
    <!-- Visite Virtuelle -->
    <add key="cheminVisitesVirtuelles" value="C:/Session Grand Public/Données/visiteData.xml" />
    <!-- Expo Virtuelle -->
    <add key="cheminExpoVirtuelles" value="C:/Session Grand Public/Données/expoData.xml" />
    <!-- Memory -->
    <add key="cheminMemory" value="C:/Session Grand Public/Données/memoryData.xml" />
    <!-- Region -->
    <add key="cheminRegion" value="C:/Session Grand Public/Données/regionData.xml" />
    <!-- Puzzle -->
    <add key="cheminPuzzle" value="C:/Session Grand Public/Données/puzzleData.xml" />
    <!-- Frise Historique -->
    <add key="cheminFriseHistorique" value="C:/Session Grand Public/Données/friseData.xml" />
    <!-- Banque d'Images -->
    <add key="cheminBanqueImages" value="C:/Session Grand Public/Données/banqueimagesData.xml" />
    <!-- FIN Configuration des applications-->
    <!-- Configurations des niveaux de difficulté -->
    <!-- Puzzle -->
    <!-- Icône Jeu 1 -->
    <add key="cheminIconeJeu1Puzzle" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Puzzle\Bouton\Facile\Bouton_Jeu1.png" />
    <!-- Texte sur l'icône Jeu 1 -->
    <add key="valeurNomJeu1Puzzle" value="Facile" />
    <!-- Icône Jeu 2 -->
    <add key="cheminIconeJeu2Puzzle" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Puzzle\Bouton\Moyen\Bouton_Jeu2.png" />
    <!-- Texte sur l'icône Jeu 2 -->
    <add key="valeurNomJeu2Puzzle" value="Moyen" />
    <!-- Icône Jeu 3 -->
    <add key="cheminIconeJeu3Puzzle" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Puzzle\Bouton\Difficile\Bouton_Jeu3.png" />
    <!-- Texte sur l'icône Jeu 3 -->
    <add key="valeurNomJeu3Puzzle" value="Difficile" />
    <!-- Memory -->
    <!-- Icône Jeu 1 -->
    <add key="cheminIconeJeu1Memory" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Memory\Bouton\Facile\Bouton_Jeu1.png" />
    <!-- Texte sur l'icône Jeu 1 -->
    <add key="valeurNomJeu1Memory" value="Facile" />
    <!-- Icône Jeu 2 -->
    <add key="cheminIconeJeu2Memory" value="C:/Session Grand Public/Données/Ressources/Personnalisation/Memory/Bouton/Moyen/Bouton_Jeu2.png" />
    <!-- Texte sur l'icône Jeu 2 -->
    <add key="valeurNomJeu2Memory" value="Moyen" />
    <!-- Icône Jeu 3 -->
    <add key="cheminIconeJeu3Memory" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Memory\Bouton\Difficile\Bouton_Jeu3.png" />
    <!-- Texte sur l'icône Jeu 3 -->
    <add key="valeurNomJeu3Memory" value="Difficile" />
    <!-- Sablier -->
    <add key="cheminIconeSablier" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Memory\Sablier\Sablier.png" />
    <!-- FIN Configuration des niveaux de difficulté -->
    <!-- Autre image -->
    <!-- Image par défaut des miniatures pour les 360 -->
    <add key="cheminDefautMiniature360" value="C:/Session Grand Public/Données/Ressources/Personnalisation/360.png" />
    <!-- Image d'une étoile obtenue -->
    <add key="cheminEtoileObtenue" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Puzzle\etoiles\star_full.png" />
    <!-- Image d'une étoile non obtenue -->
    <add key="cheminEtoileNonObtenue" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Puzzle\etoiles\star_none.png" />
    <!-- Image arrière Memory -->
    <add key="cheminArriereMemory" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Memory\Carte\ArriereMemory.png" />
    <!-- Image de fond par défaut arrière Memory -->
    <add key="cheminDefautArriereMemory" value="C:/Session Grand Public/Données/Ressources/Personnalisation/Castillet.jpg" />
    <!-- Image par défaut Carte -->
    <add key="cheminDefautCarte" value="C:/Session Grand Public/Données/Ressources/Personnalisation/the_carte.png" />
    <!-- Police par défaut -->
    <add key="cheminFont" value="C:/Session Grand Public/Données/Ressources/Personnalisation/Polices/Luciole-Regular.ttf" />
    <!-- FIN Autre image -->
    <!-- FIN CLIENT -->

    <!-- ADMIN -->
    <!-- Bandeau administration -->
    <!-- Menu -->
    <!-- Icône -->
    <add key="cheminBandeauMenu" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Admin\Icone_Bandeau\menuMenu.png" />
    <!-- Texte sur l'icône -->
    <add key="valeurBandeauMenu" value="Menu" />
    <!-- Visite Virtuelle -->
    <!-- Icône -->
    <add key="cheminBandeauVisite" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Admin\Icone_Bandeau\menuVisite.png" />
    <!-- Texte sur l'icône -->
    <add key="valeurBandeauVisite" value="Visite Virtuelle" />
    <!-- Expo Virtuelle -->
    <!-- Icône -->
    <add key="cheminBandeauMediatheque" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Admin\Icone_Bandeau\menuMedia.png" />
    <!-- Texte sur l'icône -->
    <add key="valeurBandeauMediatheque" value="Expo Virtuelle" />
    <!-- image de fond du cadre -->
    <add key="CheminFondEcranCadre" value="C:\Session Grand Public\Données\Ressources\Personnalisation\ExpoVirtuelle\Fond_Ecran\FondTextBoxe.jpg" />
    <!-- image de fond -->
    <add key="CheminFondEcranExpo" value="C:\Session Grand Public\Données\Ressources\Personnalisation\ExpoVirtuelle\Fond_Ecran\FondWindowSelectExpo.jpg" />
    <!-- Memory -->
    <!-- Icône -->
    <add key="cheminBandeauMemory" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Admin\Icone_Bandeau\menuMemo.png" />
    <!-- Texte sur l'icône -->
    <add key="valeurBandeauMemory" value="Memory" />
    <!-- Puzzle -->
    <!-- Icône -->
    <add key="cheminBandeauPuzzle" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Admin\Icone_Bandeau\menuPuzzle.png" />
    <!-- Texte sur l'icône -->
    <add key="valeurBandeauPuzzle" value="Puzzle" />
    <!-- Region -->
    <!-- Icône -->
    <add key="cheminBandeauRegion" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Admin\Icone_Bandeau\menuPO.png" />
    <!-- Texte sur l'icône -->
    <add key="valeurBandeauRegion" value="Région" />
    <!-- Frise Historique -->
    <!-- Icône -->
    <add key="cheminBandeauFrise" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Admin\Icone_Bandeau\menuFrise.png" />
    <!-- Texte sur l'icône -->
    <add key="valeurBandeauFrise" value="Frise Historique" />
    <!-- Banque d'Images -->
    <!-- Icône -->
    <add key="cheminBandeauBanqueImages" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Admin\Icone_Bandeau\menuBanqueImages.png" />
    <!-- Texte sur l'icône -->
    <add key="valeurBandeauBanqueImages" value="Banque d'Images" />


    <!-- FIN Bandeau administration -->
    <!-- FIN ADMIN -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Loupe Visite -->
    <add key="cheminIconePanelInformation" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Visites_virtuelles\Bouton\loupe\Loupe.png" />
    <!-- Erreur -->
    <add key="cheminImageballError" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Admin\images\erreur\ballError.png" />
    <!-- Frise -->
    <add key="CheminFrise" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Fond_ecran_menu\frise.png" />
    <!-- Bouton return -->
    <add key="CheminBoutonReturn" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Fond_ecran_menu\return.png" />
    <!-- Fond Ecran Region Frise BanqueImages -->
    <add key="CheminFondEcran" value="C:\Session Grand Public\Données\Ressources\Personnalisation\Fond_ecran_menu\fond_sans_griffe.jpg" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>